
@media screen and (min-width: 992px) {
    body main {
        padding-top: 75px;
    }
}

body main {
    padding-top: 55px;
}

@media screen and (min-width: 992px) {
    #post-content .hero-image {
        padding-top: 38.25% !important;
    }
}
#post-content .hero-image {
    padding-top: 38.25% ;
}
@media screen and (min-width: 992px) {
    .hero-image.large {
        padding-top: 38.25% !important;
    }
}
.hero-image.large {
    padding-top: 38.25% -;
}
.hero-image {
    position: relative;
    height: 0;
}
.hero-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dedede;
    background-repeat: no-repeat;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: 50%;
    background-position: var(--bg-position);
}

.cont-pd, cont-pd {
    max-width: 720px !important;
}

@media (min-width: 992px) {
    .cont, .cont-pd {
        max-width: 920px !important;
    }
}

#post-content .content-description {
    border: 1px solid #eaeaea;
    background-color: #fff;
    position: relative;
    top: -60px;
    padding: 45px 0 60px;
    margin-bottom: -45px;
}

.offset-1 {
    margin: 0 5%;
}

.writer .date {
    padding-right: 5px;
    border-right: 1px solid #8e8e93;
    color: #8e8e93;
}

.writer .author {
    padding-left: 5px;
    color: #8e8e93;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

#post-content .content-description h1, #post-content .content-description h2, #post-content .content-description h3, #post-content .content-description h4, #post-content .content-description h5, #post-content .content-description h6 {
    font-weight: 800;
    margin: 0;
}

h2.entry-title{
    line-height: 1.4;
    font-size: 2.25rem;
}

p {
    margin: 1.5rem 0;
}
